<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">


    {% if title %}
<!--    to which chapter user related-->
        <title>{{ title }}</title>
    {% else %}
        <title>Organizational staff</title>
    {% endif %}
</head>
<body>
 <div id="vm">
    <header class="site-header">
      <nav class="navbar navbar-dark navbar-expand-md bg-teal fixed-top">
        <div class="container">
            <div class="navbar-nav mr-auto">
                {% if current_user.org_staff == 1 %}
                    <a class="nav-item nav-link a-tag" href="{{ url_for('rosters') }}"><b>All Staff</b></a>
                {% endif %}
            </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">

                {% if current_user.org_staff == 1 and current_user.is_authenticated %}
                    <a class="nav-item nav-link a-tag" href="{{ url_for('org_staff') }}">Organizational Staff</a>
                    <a class="nav-item nav-link a-tag" href="{{ url_for('chapters') }}"><small><b>Chapters</b></small></a>
                    <a class="nav-item nav-link text-success a-tag ml-2" href="{{ url_for('register') }}"><small><b>Add a New Member</b></small></a>
                {% elif current_user.is_authenticated %}
                    <a class="nav-item nav-link a-tag" href="{{ url_for('chptr') }}"><b>Roster</b></a>
                    {% if current_user.chapter_pres == 1 %}
                    <a class="nav-item nav-link text-success a-tag ml-2" href="{{ url_for('register') }}"><small><b>Add a New Member</b></small></a>
                    {% endif %}
                {% endif %}

                 {% block contentC %} {% endblock %}





            </div>

            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}"><small>Logout</small></a>
                {% else %}
                    <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </div>
          </div>
          </div>
      </nav>
    </header>
    <main role="main" class="container">



      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

             {% block contentA %} {% endblock %}
        </div>

       </div>
         {% block content %} {% endblock %}

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Member?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="#" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
        </div>


    </main>
</div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS, CDN Vue -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>

</body>
</html>