{% extends "layout.html" %}
{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><img src="/static/list.png" style="width: 2.5vh; height: 2.5vh;" alt="List"></th>
      <th scope="col" class="w-15"><a class="nav-link text-info tb-nav" href="{{ url_for('arrange_org', variable='first_name') }}">First Name</a></th>
        <th scope="col" class="w-18"><a class="nav-link text-info tb-nav" href="{{ url_for('arrange_org', variable='last_name') }}">Last Name</a></th>
      <th scope="col"><a class="nav-link text-info tb-nav" href="{{ url_for('arrange_org',  variable='grade') }}">Grade</a></th>
      <th scope="col"><a class="nav-link text-info tb-nav" href="{{ url_for('arrange_org', variable='email') }}">Email</a></th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>

  {% if users is iterable %}
  {% for user in users %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.grade }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
    </tr>

  {% endfor %}
  {% else %}
   <tr>
      <th scope="row">1</th>
      <td>{{ users.first_name }}</td>
      <td>{{ users.last_name }}</td>
      <td>{{ users.grade }}</td>
      <td>{{ users.email }}</td>
      <td>{{ users.phone }}</td>
    </tr>
  {% endif %}
  </tbody>

</table>
{% endblock content %}